.About {
	border-right: 15px solid #ff0040;
	margin-top: 10em;
	width: 100%;
	height: 100%;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 2fr;
	gap: 3em 3em;
	grid-template-areas: "head head" "left right";

	@media (max-width: 1200px) {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 4fr;
		gap: 3em 3em;
		grid-template-areas: "head head" "left right";
	}

	@media (max-width: 992px) {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 2fr;
		gap: 3em 3em;
		grid-template-areas: "head head" "left right";
	}

	@media (max-width: 768px) {
		width: 90%;
		display: flex;
		flex-direction: column;
	}

	@media (max-width: 425px) {
		border-right: 15px solid #ff0040;
		display: flex;
		flex-direction: column;
		width: 80%;
		gap: 0.25em 0.25em;
	}

	h2 {
		border-bottom: 1px solid white;
		border-left: 1px solid white;
		font-size: 13vh;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #ff0040;
		grid-area: head;
		margin: 0;
		padding: 0;

		@media (max-width: 1200px) {
			font-size: 8vh;
			height: 15vh;
		}

		@media (max-width: 992px) {
			font-size: 10vh;
		}

		@media (max-width: 768px) {
			font-size: 7vh;
		}

		@media (max-width: 425px) {
			width: 80vw;
			font-size: 4vh;
			height: 10vh;
		}
	}

	&--bottom-left {
		border-bottom: 1px solid white;
		border-left: 1px solid white;
		padding-left: 1em;
		grid-area: left;
		font-size: 1rem;

		@media (max-width: 1200px) {
			height: 35vh;
		}

		@media (max-width: 768px) {
			width: 90%;
		}

		@media (max-width: 425px) {
			width: 80vw;
			font-size: 0.85rem;
		}
	}

	&--bottom-right {
		border-bottom: 1px solid white;
		border-left: 1px solid white;
		padding-left: 1em;
		grid-area: right;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		font-size: 1rem;

		@media (max-width: 1200px) {
			height: 35vh;
		}

		@media (max-width: 768px) {
			width: 90%;
		}

		@media (max-width: 425px) {
			width: 80vw;
			font-size: 0.85rem;
		}

		h3 {
			color: #ff0040;
		}

		&--icons {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			@media (max-width: 768px) {
				padding-bottom: 5px;
			}
		}

		i {
			font-size: 3em;
			transition: all 0.2s linear 0.2s;

			@media (max-width: 425px) {
				font-size: 4vh;
			}

			&:hover {
				color: #ff0040;
				font-size: 3.5em;
			}
		}
	}
}
