.ProjectCard {
	border: 1px solid white;
	border-right: none;
	border-left: none;
	height: 70px;

	h1 {
		color: #fff;
		cursor: pointer;
		padding-left: 5px;

		&:hover {
			color: #ff0040;
		}
	}
}

.ProjectCard-expanded {
	border: 1px solid white;
	border-left: 15px solid #ff0040;
	border-right: none;
	height: 70px;
	padding-left: 0rem;
	animation: expand 0.25s linear 0.1s forwards;
	display: flex;
	flex-direction: row;

	h1 {
		color: #ff0040;
		cursor: pointer;
		width: 100%;

		&:hover {
			color: #ff0040;
		}

		i {
			color: #fff;
			padding: 0 1em;

			@media (max-width: 768px) {
				padding: 0 0.35em;
			}

			@media (max-width: 425px) {
				font-size: 1.25rem;
				padding: 0 1em;
			}
		}
	}

	p {
		opacity: 0;
		animation: text 0.35s linear 0.25s forwards;
		padding: 1rem 0;

		@media (max-width: 768px) {
			width: 100%;
			font-size: 0.9rem;
			margin-top: 0;
			padding: 0;
		}
	}

	&--left {
		width: 70%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		@media (max-width: 768px) {
			width: 100%;
		}

		&--icons {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;
			width: 50%;

			@media (max-width: 425px) {
				width: 100%;
			}

			i {
				color: #ff0040;
				font-size: 5vh;
				transform: translateX(400px);
				opacity: 0;
				padding: 0 5px;

				@media (max-width: 768px) {
					font-size: 4vh;
				}

				&:first-of-type {
					animation: appear 0.35s linear 0.25s forwards;
				}

				&:nth-of-type(2) {
					animation: appear 0.35s linear 0.35s forwards;
				}
				&:nth-of-type(3) {
					animation: appear 0.35s linear 0.45s forwards;
				}
				&:nth-of-type(4) {
					animation: appear 0.35s linear 0.55s forwards;
				}
				&:nth-of-type(5) {
					animation: appear 0.35s linear 0.65s forwards;
				}
			}
		}
	}

	&--right {
		width: 30%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 768px) {
			display: none;
		}

		&--btns {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;

			button {
				width: 10vh;
				height: 3em;
				background-color: #ff0040;
				color: #fff;
				font-weight: 600;
				border: 1px solid #ff0040;
			}
		}

		&--img {
			height: 20vh;
			width: 20vh;
			border: 1px solid #ff0040;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
}

@keyframes expand {
	to {
		padding-left: 2vw;
		height: 35vh;
	}
}

@keyframes text {
	to {
		opacity: 1;
	}
}

@keyframes appear {
	to {
		opacity: 1;
		transform: translateX(0px);
		color: #fff;
	}
}
