.Contact {
	border: 1px solid white;
	border-right: 15px solid #ff0040;
	margin-top: 10em;
	width: 100%;
	height: 100%;
	padding: 1em;
	display: flex;
	flex-direction: column;

	@media (max-width: 1200px) {
		width: 100%;
	}

	@media (max-width: 992px) {
		width: 100%;
	}

	@media (max-width: 768px) {
		width: 90%;
	}

	h2 {
		font-size: 13vh;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: #ff0040;
		grid-area: head;
		margin: 0;
		padding: 0;

		@media (max-width: 1200px) {
			font-size: 12vh;
		}

		@media (max-width: 992px) {
			font-size: 10vh;
		}

		@media (max-width: 768px) {
			font-size: 8vh;
		}
	}

	&--links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-left: 5px;
		height: 100%;

		a {
			color: #fff;
			text-decoration: none;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #fff;
			font-size: 4em;
			transition: all 0.2s linear 0.1s;

			&:hover {
				-webkit-text-stroke-color: #ff0040;
				padding-left: 5rem;
				border-bottom: 1px solid #ff0040;
			}
			@media (max-width: 425px) {
				font-size: 8vh;
			}
		}
	}
}
