@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');

.Header {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	// font-family: 'Josefin Sans', sans-serif;

	&--menu {
		border-top: 10px solid #ff0040;
		border-left: 70px solid #ff0040;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background: linear-gradient(180deg, rgba(4, 6, 8, 1) 0%, rgba(10, 16, 23, 1) 100%);
		z-index: 10000000000;
		transform: translateX(-100vw);

		animation: name1 0.3s linear 0.1s forwards;

		p {
			font-size: 8vh;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #ff0040;
			margin: 0;
			padding: 5px;
		}

		&--head {
			width: 100%;
			height: 20vh;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-content: flex-start;
			&--logo {
				padding: 1rem;
				height: 100px;
			}
			&--btn {
				padding: 1rem;
				height: 80px;
				border-left: 5px solid #ff0040;
				border-bottom: 5px solid #ff0040;
			}
		}
	}

	&--bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: url('../../assets/images/sky.png');
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
		background-attachment: fixed;
	}

	&--front {
		position: absolute;
		top: 0vh;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;
		background-image: url('../../assets/images/mountains3.png');
		background-size: cover;
		background-repeat: no-repeat;
		overflow: hidden;
	}

	&--spinner1 {
		border: 6px solid transparent;
		border-top: 6px solid #ff0040;
		border-radius: 50%;
		animation: spin 2s linear infinite;
		position: fixed;
		z-index: 6;
		width: 120px;
		height: 120px;
		top: 40%;
		right: 25%;

		@media (max-width: 425px) {
			border: 2px solid transparent;
			border-bottom: 2px solid #ff0040;
			top: 50%;
		}
	}

	&--spinner2 {
		border: 10px solid transparent;
		border-right: 10px solid #ff0040;
		border-radius: 50%;
		animation: spin 2s linear infinite;
		position: fixed;
		z-index: 7;
		width: 280px;
		height: 280px;
		top: 40%;
		right: 25%;

		@media (max-width: 425px) {
			border: 3px solid transparent;
			border-bottom: 3px solid #ff0040;
		}
	}

	&--spinner3 {
		border: 10px solid transparent;
		border-bottom: 10px solid #ff0040;
		// #ff0074;
		border-radius: 50%;
		animation: spin 2s linear infinite;
		position: fixed;
		z-index: 7;
		width: 500px;
		height: 500px;
		top: 30%;
		right: 25%;

		@media (max-width: 425px) {
			border: 5px solid transparent;
			border-bottom: 5px solid #ff0040;
		}
	}

	&--sideLine {
		width: 15px;
		height: 400vh;
		background-color: #ff0040;
		z-index: 51;
		position: absolute;
		left: 0%;
		top: 0;
	}

	&--timeLine {
		width: 1px;
		height: 300vh;
		background-color: #fff;
		z-index: 999999999;
		position: absolute;
		left: 10%;
		top: 100vh;

		@media (max-width: 1200px) {
			left: 3%;
		}

		@media (max-width: 992px) {
			left: 3%;
		}

		@media (max-width: 768px) {
			left: 1.5rem;
		}

		@media (max-width: 425px) {
			left: 1rem;
		}
	}

	&--timeDot-One {
		width: 30px;
		height: 30px;
		transform: rotate(45deg);
		background-color: #fff;
		position: absolute;
		left: calc(10% - 15px);
		top: 115vh;
		z-index: 999999999;

		@media (max-width: 1200px) {
			left: calc(3% - 15px);
		}

		@media (max-width: 992px) {
			left: calc(3% - 15px);
		}

		@media (max-width: 768px) {
			left: calc(1.5rem - 15px);
		}

		@media (max-width: 425px) {
			left: calc(1rem - 15px);
		}
	}

	&--timeDot-Two {
		width: 30px;
		height: 30px;
		transform: rotate(45deg);
		background-color: #fff;
		position: absolute;
		left: calc(10% - 15px);
		top: 215vh;
		z-index: 999999999;
		@media (max-width: 1200px) {
			left: calc(3% - 15px);
		}

		@media (max-width: 992px) {
			left: calc(3% - 15px);
		}

		@media (max-width: 768px) {
			left: calc(1.5rem - 15px);
		}

		@media (max-width: 425px) {
			left: calc(1rem - 15px);
		}
	}

	&--timeDot-Three {
		width: 30px;
		height: 30px;
		transform: rotate(45deg);
		background-color: #fff;
		position: absolute;
		left: calc(10% - 15px);
		top: 315vh;
		z-index: 999999999;
		@media (max-width: 1200px) {
			left: calc(3% - 15px);
		}

		@media (max-width: 992px) {
			left: calc(3% - 15px);
		}

		@media (max-width: 768px) {
			left: calc(1.5rem - 15px);
		}

		@media (max-width: 425px) {
			left: calc(1rem - 15px);
		}
	}

	&--name1 {
		position: fixed;
		top: 10%;
		left: 4rem;
		width: 5%;
		z-index: 2;
		font-size: 10em;
		text-transform: uppercase;
		transform: translateX(100vw);
		animation: name2 0.8s ease-in-out 1s forwards;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #ff0040;

		@media (max-width: 992px) {
			left: 1rem;
		}

		@media (max-width: 768px) {
			left: 1rem;
		}

		@media (max-width: 425px) {
			top: 30%;
			left: 1rem;
			font-size: 4em;
		}
	}

	&--name2 {
		position: fixed;
		top: 25%;
		left: 4rem;
		width: 25%;
		z-index: 2;
		font-size: 10em;
		text-transform: uppercase;
		animation: name1 0.8s ease-in-out 1.2s forwards;
		transform: translateY(1000px);
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke-width: 2px;
		-webkit-text-stroke-color: #ff0040;

		@media (max-width: 992px) {
			left: 1rem;
		}

		@media (max-width: 768px) {
			left: 1rem;
		}

		@media (max-width: 425px) {
			top: 40%;
			left: 1rem;
			font-size: 4em;
		}
	}

	&--subtext {
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		top: 25%;
		left: 30em;
		z-index: 8;

		@media (max-width: 1024px) {
			top: 20%;
			left: 30em;
		}

		@media (max-width: 992px) {
			top: 25%;
			left: 30em;
		}

		@media (max-width: 768px) {
			top: 25%;
			left: 30em;
		}

		@media (max-width: 425px) {
			top: 52%;
			left: 5%;
		}

		&--subtext-one {
			font-size: 2em;
			text-transform: uppercase;
			transform: translateX(100vw);
			animation: subtext 1s ease-in-out 1.5s forwards;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #fff;
			padding: 0;
			margin: 0;

			@media (max-width: 425px) {
				font-size: 1.15em;
			}
		}

		&--subtext-two {
			font-size: 2em;
			text-transform: uppercase;
			transform: translateX(100vw);
			animation: subtext 1s ease-in-out 1.5s forwards;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #fff;
			padding: 0;
			margin: 0;
			@media (max-width: 425px) {
				font-size: 1.15em;
			}
		}

		&--subtext-three {
			font-size: 2em;
			text-transform: uppercase;
			transform: translateX(100vw);
			animation: subtext 1s ease-in-out 1.5s forwards;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: #fff;
			padding: 0;
			margin: 0;
			@media (max-width: 425px) {
				font-size: 1.15em;
			}
		}
	}
}

@keyframes name1 {
	to {
		transform: translateY(0px);
	}
}

@keyframes name2 {
	to {
		transform: translateX(0px);
	}
}

@keyframes subtext {
	to {
		transform: translateX(0px);
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
